<div class="questions">


  <ul class="questions">
    <% @questions.each do |question| %>
      <li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
    <% end %>
  </ul>
<hr>
  <div class="questionform">
  <% if logged_in? %>
    <h3> Post a New Question </h3>
    <form action="/questions" method="POST">
      <label for="title">Title:</label>
      <input type="text" name="title" placeholder="Title"><br>
      <br>
      <label for="body">Question:</label>
        <input type="text" name="body" placeholder="Describe your question here...">
      <br>
      <br>
      <button type="submit" value="Seek catharsis">Seek catharsis</button>
    </form>
    <br>
  <% end %>
</div>
</div>


