<form action="/sessions" method="post" class="login">
	<input type="text" name="email" placeholder="E-mail"><br>
	<input type="password" name="password" placeholder="Password"><br>
	<input type="submit">
</form>