.container {
  margin: 20px auto;
  width: 680px;
  padding: 0px 20px 20px -20px;
  border: solid 1px #847c7c;
  position: relative;
  diplay: block;
}
th {
  text-align: left;
}

.coffee {
  margin-top: -40px;
}

div.container img {
  /*margin: -10px 100 30px -10px;*/
  z-index: -1;
  display: inline;
  float: left;
  padding: 10px;
}

h1 {
  font-size: 350%;
  font-family: "Miltonian Tattoo";
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  display: inline;
  float: right;
  margin-left:-50px;
  position: relative;
}

h2 {
 font-family: "Miltonian Tattoo";
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  text-align: right;
  float: right;
  margin-bottom: 30px;
  margin-top: -50px;

}

div.nav li:first-child {
  font-family: "Dawning of a New Day";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  padding: 10px;
  margin-left: 10px;
  float: left;
  color: white;
  /*margin: 5px 0 -20px 15px;*/
}

.asterisk {
  font-family: sans-serif;
}

.login {
	max-width: 500px;
	margin:auto;
	padding: 20px;
}

 div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

  div.nav li {
    float: right;
}

  div.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  div.nav li a:hover {
    background-color: #111;
  }

.questions {
  display: block;
  position: absolute;
  width: 680px;
  margin-left: 30%;
  margin-right: 50%;
  margin-top: 10%;
}

button {
  background-color: black;
    color: white;
    border: 2px solid #555555;
    border-radius: 8px;
    padding: 10px 24px;
}

button:hover {
    background-color: white;
    color: black;
}


