<div class="questions">
 <font size="6"><b>Profile for user: <%=@user.username%></b></font>
 <ul>
    <% @user.questions.each do |question| %>
      <li><b><a href="/questions/<%= question.id %>"><%= question.title %></a></b><br>
      <%=question.body %></li>
      <br>
    <% end %>
  </ul>

<!-- input logic to display edit profil if user.username = current_user.username -->
