<div class="answers">
  <ul>
    <% if @answers.length != 0 %>
      <% @answers.each do |answer| %>
        <li><%= answer.responder.username %><br><br><%= answer.body%>
        </li>
        <br>
      <% end %>
    <% else %>
      <i>No answers yet. Why don't you help them out?</i>
    <% end %>
  </ul>
</div>


