<div class="answers">
  <ul>
    <% if @answers.length != 0 %>
      <% @answers.each do |answer| %>
        <li><%= answer.responder.username %><br><br><%= answer.body%>
        </li><br>
        <%= erb(:"comments/new_question_comment") %> <br><br>
        <br>
      <% end %>
    <% else %>
      <li>No answers yet. Why don't you help them out?</li>
    <% end %>
  </ul>
</div>


